###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###

# web
/public/bundles
/public/uploads

# composer
/composer.phar
/composer.lock

# npm
node_modules
.yarn
/package-lock.json
/assets/admin/package-lock.json

# phpcs
.php_cs.cache
.php_cs

# IDEs
/.idea
*.iml
*~
.web-server-pid

# System files
.DS_Store

###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
build_logs.txt
###< symfony/webpack-encore-bundle ###

# Bundles
/bundles/*
!/bundles/.gitignore
!/bundles/Otd
/bundles/Otd/*
