body{
    overflow-x: hidden;
}

.degraderBar{
    background: transparent linear-gradient(90deg, #23A137 0%, #66AF2E 18%, #F8D214 38%, #F5E9A9 59%, #E9BB69 80%, #E5A106 100%) 0% 0% no-repeat padding-box;
}

.degraderFooter{
    background: transparent linear-gradient(90deg, #23A137 0%, #66AF2E 18%, #F8D214 38%, #F5E9A9 59%, #E9BB69 80%, #E5A106 100%) 0% 0% no-repeat padding-box;
}

.splide__slide{
    height: auto !important;
}

.splide .splide__arrow--prev {
    left: 0;
}

.splide .splide__arrow--next {
    right: 0;
}

.splide .splide__arrow {
    position: relative;
    -ms-flex-align: center;
    align-items: center;
    background: white;
    border: #C0C500 1px solid;
    border-radius: 50%;
    cursor: pointer;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    opacity: .7;
    padding: 0;
    top: 50%;
    transform: inherit;
    width: 4em;
    height: 4em;
    z-index: 1;
}

.cercle1{
    box-shadow: 0px 0px 13px -13px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0px 0px 13px -13px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 13px -13px rgba(0, 0, 0, 1);
    background: transparent linear-gradient(180deg, #FFFFFF 0%, #F5F5F5 100%) 0% 0% no-repeat padding-box;
}

.splide .splide__track {
    overflow: visible;
}

.splide .splide__pagination__page.is-active {
    background: #C0C500;
}

.splide .splide__pagination__page {
    background: white;
    border: solid 1px #C0C500;
    transform: scale(1.4);
}

.sectionEcosys{
    background-image: url("../img/background02.jpg");
    background-size: cover;
    background-position: center bottom;
}

.blocTextEcosys{
    box-shadow: 0px 0px 17px -13px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0px 0px 17px -13px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 17px -13px rgba(0, 0, 0, 1);
}

.sectionColabo h4:before{
    width: 60px;
    height: 11px;
    border-radius: 50px;
    background: #73A219;
    content: "";
    position: absolute;
    left: 0;
    bottom: -40px;
}

.sectionColabo .blocColabo>br{
    content: "";
    width: 100%;
    height: 1px;
    background: orange;
    display: block;
    position: relative;
    margin: 30px 0;
}

.blocTextOrange br{
    content: "";
    width: 7px;
    height: 7px;
    background: black;
    display: block;
    position: relative;
    margin: 20px;
    border-radius: 50%;
    @media (max-width: 640px) {
        display: none;
    }
}

.blocTextEcosys {
    border-radius: 12px; /* Bordure arrondie */
}

.blocTextEcosys::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 12px;
    padding: 5px;
    background: linear-gradient(180deg, #FFFFFF, #F5F5F5);
    z-index: -1;
}

.blocTextEcosys::after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 12px;
    background: linear-gradient(0deg, #FFFFFF, #f5f5f5f7);
    z-index: 0;
}


.menuExpertise {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
}

.menuExpertise .btn {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    overflow: hidden;
    cursor: pointer;
}

.menuExpertise .btn {
    font-size: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

    -webkit-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.menuExpertise .btn span{
    z-index: 9;
}

.menuExpertise .btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    padding: 5px;
    background: linear-gradient(180deg, #FFFFFF, #F5F5F5);
    z-index: -1;
}

.menuExpertise .btn::after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    background: linear-gradient(0deg, #FFFFFF, #f5f5f569);
    z-index: 0;
}


.menuExpertise .btnItems{
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    z-index: -2;

    -webkit-transition: all 0.6s cubic-bezier(.87,-.41,.19,1.44);
    transition: all 0.6s cubic-bezier(.87,-.41,.19,1.44);
}

.menuExpertise .btnItems:nth-child(1) {top:0px;left:0px;-webkit-transition-delay: 0s;transition-delay: 0s}
.menuExpertise .btnItems:nth-child(2) {top:0px;left:0px;-webkit-transition-delay: 0.1s;transition-delay: 0.1s}
.menuExpertise .btnItems:nth-child(3) {left:0px;-webkit-transition-delay: 0.2s;transition-delay: 0.2s}
.menuExpertise .btnItems:nth-child(4) {top:0px;left:0px;-webkit-transition-delay: 0.3s;transition-delay: 0.3s}
.menuExpertise .btnItems:nth-child(5) {top:0px;left:0px;-webkit-transition-delay: 0.4s;transition-delay: 0.4s}
.menuExpertise .btnItems:nth-child(6) {top:0px;left:0px;-webkit-transition-delay: 0.5s;transition-delay: 0.5s}
.menuExpertise .btnItems:nth-child(7) {top:0px;left:0px;-webkit-transition-delay: 0.6s;transition-delay: 0.6s}

.menuExpertise .open .btn:nth-child(1) {
    top:-236px;left:-104px;opacity:1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.menuExpertise .open .btn:nth-child(2) {
    top: -225px;left: 150px;opacity:1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.menuExpertise .open .btn:nth-child(3) {
    left: 300px;opacity:1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.menuExpertise .open .btn:nth-child(4) {
    top :225px;left:180px;opacity:1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.menuExpertise .open .btn:nth-child(5) {
    top:280px;left: -50px;opacity:1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.menuExpertise .open .btn:nth-child(6) {
    top:120px;left:-250px;opacity:1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.menuExpertise .open .btn:nth-child(7) {
    top:-95px;left:-305px;opacity:1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.menuExpertise .menuBtn, .closeBtn {
    position: absolute;
    transition: all 0.3s ease;
    transform: translateY(50px);
    opacity: 0;
}

.menuExpertise .show {
    transform: translateY(-10px);
    opacity: 1;
}

.menuExpertise #show-menu .btn{
    box-shadow: none;
}

.menuExpertise #show-menu .btn:before{
    content: url("../img/cercleColor.svg");
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
    background: inherit;
    animation: rotate 9s linear infinite;
}

.menuExpertise #show-menu .btn:after{
    background: inherit;
}

.blocCardPicto{
    transition: 0.3s;
}

.blocCardPicto:hover{
    background: #3A3D6A;
    transition: 0.3s;
}

.blocCardPicto h5{
    color: black;
    transition: 0.3s;
}

.blocCardPicto:hover h5{
    transition: 0.3s;
    color: white;
}

.blocCardPicto .bordurePicto{
    transition: 0.3s;
    border-color: #BAC202;
}

.blocCardPicto:hover .bordurePicto{
    border-color: white;
    transition: 0.3s;
}

.defilement {
    display: inline-block;
    white-space: nowrap;
    animation: defilement 10s linear infinite;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.addressFooter>p:before{
    width: 50px;
    height: 15px;
    border-radius: 50px;
    background: #BAC202;
    content: "";
    position: absolute;
    left: 0;
    top: -20px;
}

.last3card:before{
    content: url(../img/liaison3cardTop.svg);
    position: absolute;
    top: -299px;
    display: block;
    left: calc(50% - 487px);
    z-index: 0;
    height: 500px;
    width: 500px;
    pointer-events: none;
}

.first3card:after{
    content: url(../img/liaison3cardBot.svg);
    position: absolute;
    bottom: -502px;
    display: block;
    left: calc(50% - 19px);
    z-index: 9;
    height: 500px;
    width: 500px;
    pointer-events: none;
}

.button:after{
    content: url("../img/btn_fleche.svg");
    display: block;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -2px;
    top: -3px;
}


@media (max-width: 1620px) {
    .sectionMenuHome {
        flex-direction: column;
        padding: inherit;
        margin: 0;
        padding-bottom: 300px;
    }
    .blocTextMenu{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 95%;
        padding-bottom: 350px;
    }
    .blocTextMenu h3{
        text-align: center;
    }
    .blocMenuHome{
        width: 100%;
    }
    .blocMenuHome .menuExpertise{
        left: 44%;
    }
}
@media (max-width: 1750px) {
    .blocBoutonSlider{
        left: 15%;
    }
}
@media (max-width: 1280px) {
    .addressFooter>p:before {
        left: calc(50% - 25px);
    }
    .blocBoutonSlider{
        left: inherit;
        width: 100%;
    }
    .blocBoutonSlider h2{
        display: none;
    }
    .splide__pagination {
        bottom: -1.5em !important;
    }
    .splide .splide__arrow {
        position: absolute;
    }
    .splide .splide__arrows{
        width: 100%;
    }
    .splide .splide__arrow--prev {
        left: 1em;
    }
    .splide .splide__arrow--next {
        right: 1em;
    }
}
@media (max-width: 1024px) {
    .sectionColabo h4:before {
        bottom: -20px;
        left: calc(50% - 25px);
    }

    .last3card:before{
        display: none;
    }

    .first3card:after{
        display: none;
    }
}
@media (max-width: 890px) {
    .menuExpertise .btn {
        width: 150px;
        height: 150px;
    }
}

@media (max-width: 767px) {
    .sectionMenuHome {
        padding-bottom: 50px;
    }
    .blocTextMenu{
        padding-bottom: 50px;
    }
}

@keyframes defilement {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
